* {
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 16px 192px 96px 192px;
    background-color: #1F2937;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo,
.title {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.description {
    flex-basis: 440px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

a, 
.text {
    font-size: 18px;
}

.text {
    margin-bottom: 8px;
}

a,
.text, 
.sign-up {
    color: #E5E7EB;
}

.image-placeholder {
    background-color: #E5E7EB;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border-style: none;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 30px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-top: 48px;
    padding-bottom: 96px;
}

.items {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.image {
    border: 3px solid #3882F6;
    border-radius: 16px;
    height: 150px;
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 150px;
    gap: 4px;
    flex-wrap: wrap;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-text {
    text-align: center;
    color: #5C6772;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 96px 192px 96px 192px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 700;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 136px;
    padding: 48px 80px;
    background-color: #3882F6;
    border-radius: 8px;
    margin: 96px 192px;
}

.cta-header {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.cta-text {
    font-size: 18px;
    color: #E5E7EB;
}

.white-border {
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.copyright {
    color: #E5E7EB;
    font-size: 18px;
    padding: 32px;
}